<div class="container">
  <div class="nav">
    {{#link-to "projects" class="nav-item"}}Projects{{/link-to}}
    {{#link-to "clients" class="nav-item"}}Clients{{/link-to}}
    {{#link-to "notes" class="nav-item"}}Notes{{/link-to}}
  </div>

  {{outlet}}
</div>
