<div class="object object--detail">
  <div class="object-title">
    {{model.name}}
  </div>
  <div class="object--author">
    {{model.created}}
  </div>
  <div class="object--description">
    TODO: Include notes
  </div>
</div>
